@import url(https://fonts.googleapis.com/css?family=Inconsolata);
/*this is a stupid comment*/

.topbar {
	height: 33px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #76857d;

}

.topbar a{
	padding: 10px;
	font-size: 20px;
	color: black;
	text-decoration: none;
	text-align: center;
	font-family: "Arial";
	overflow-y: hidden;
}

.topbar a:hover{
	color: white;
	background-color: black;
	
}

.logger {
	/* logger is a class that looks like a console window. */
	color: green;
	font-family: "Inconsolata";
	background-color: black;
	height: 1000%;
	width: 100%;
        text-align: left;
}

.logger::selection{
	color: #ff69b4;
	background: #ffffff;
}

.download-button {}

button {
    background-color: #ffffff; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	color: black;
}

button:hover {
	background-color: gray;
	color: blue;
}

h1, h3, p {
	text-align: center;
	font-family: "Lucida Fax";
}

p a {
	color: blue;
	text-decoration: none;
}

a img {
	align: left;
}

body {
    text-align: center;
	background-color: black;
	color: white;
}

.selection-bar {
	height: 33px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: gray;

}

.selection-bar a{
	padding: 10px;
	font-size: 24px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.selection-bar a:hover{
	color: white;
	background-color: black;
}
